@charset "UTF-8";

.courseImage{
    width: 100%;
    -webkit-border-radius: 5px;
}

.courseName{
    font-size: small;
    height: 20px;
}
.courseDesc{
    font-size: x-small;
    color: rgba(140, 147, 157, 0.32);
    height: 20px;
}
.courseNum{
    color: rgba(140, 147, 157, 0.76);
    height: 20px;
    font-size: x-small;
    width: 100%;
    margin-left: -5px;
}
.more{
    color: rgba(140, 147, 157, 0.76);
    font-size: small;
    margin-top: 9%;
}
.signUpButton{
    height: 25px;
    text-align: right;
    margin-left: 50%;
    color:dodgerblue;
    border-color: dodgerblue;
    --el-button-border-color:dodgerblue;
    background-color:white;
    font-size: small;
}
.consultButton{
    height: 25px;
    text-align: right;
}
.consultButton.el-button:not(.is-text){
    background-color: #456ced;
    border-color: #456ced;
}

.divider{
    width: 90%;
    margin-left: 5%;
    height: 1px;
    margin-top: 2px;
    margin-bottom: 2px;
    border-block-color: rgba(0, 0, 0, 0.05);
}
.divider1{
    width: 90%;
    margin-left: 5%;
    height: 1px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-block-color: rgba(0, 0, 0, 0);
}
.divider2{
    height: 2px;
    border-width: 10px;
    margin-top: 1px;
    margin-bottom: 0;
    width: 100%;
    border-block-color: rgba(0, 0, 0, 0.02);
    border-top: rgba(255, 0, 0, 0.02);
}
.text_right{
text-align: right;
}
.text_left{
text-align: left;
}
.red{
    color: red;
}
.dialogs{
    width: 80%;
    -webkit-border-radius: 8px;

}
.dialogs .el-dialog__header{
    background-image: url("../static/header.jpg");
    height: 50px;
    width: 87%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;

}
.dialog_yy{
    width: 80%;
    -webkit-border-radius: 8px;

}
.dialog_yy .el-dialog__header{
    background-image: url("../static/yy_header.png");
    height: 50px;
    width: 87%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;

}

.dialog-form{
    width: 90%;
    margin-left: 5%;
}

.dialog-form >>>.el-input__inner {
    border: none;
}
.imgPhone{
    width: 100%;
}
.el-header{
    width: 100%;
    height: 50px;
}
.dialog-img{
    width: 100%;
    height: 100%;
}
.hotImage{
    width: 90%;
    -webkit-border-radius: 5px;
}
.majorDesc{
    font-size: x-small;
    height: 20px;
    margin-top: 7%;
    margin-bottom: 13%;
}
.majorType{
    height: 20px;
    font-size: x-small;
}
.majorName{
    height: 20px;
    font-size: large;
}
.rollingPic{
    width: 100%;
}
.bottom-img{
    width: 380px;
    text-align: center;
}
.banner-img{
    width: 100%;
    height: 100px;
}
.drawer-div{
    width: 100%; height: 100%;
}
.pagination {
    text-align: right;
    padding-top: 20px;
    margin-left: 50%;
}
