@charset "UTF-8";

.courseImage{
    width: 100%;
    height: 100%;
    -webkit-border-radius: 5px;
}

.courseName{
    font-size: 16px;
    color: #161616;
    height: 20px;
    font-family: "PingFang SC-Semibold";
}
.courseDesc{
    font-size: 11px;
    color: #CCCCCC;
    height: 20px;
    font-family: PingFang SC-Regular;
}
.courseNum{
    color: #777777;
    height: 20px;
    font-size: 12px;
    width: 100%;
    margin-left: -5px;
}
.more{
    color: #777777;
    font-size: 13px;
    margin-top: 9%;
}
.signUpButton{
    height: 21px;
    text-align: right;
    margin-left: 50%;
    color:#2F76F1;
    border-color: #2F76F1;
    --el-button-border-color:#2F76F1;
    background-color:white;
    font-size: 12px;
    font-family: PingFang SC-Regular;
}
.consultButton{
    height: 21px;
    text-align: right;
    font-size: 10px;
}
.consultButton.el-button:not(.is-text){
    background-color: #456ced;
    border-color: #456ced;
}

.divider{
    width: 90%;
    margin-left: 5%;
    height: 1px;
    margin-top: 16px;
    margin-bottom: 16px;
    border-block-color: rgba(0, 0, 0, 0.05);
}
.divider1{
    width: 98%;
    margin-left: 2%;
    height: 1px;
    margin-top: 13px;
    margin-bottom: 16px;
    border-block-color: rgba(0, 0, 0, 0);
}
.divider2{
    height: 2px;
    border-width: 10px;
    margin-top: 1px;
    margin-bottom: 0;
    width: 100%;
    border-block-color: rgba(69, 108, 237, 0.02);
    border-top: rgba(255, 0, 0, 0.02);
}
.divider3{
    width: 85%;
    margin-left: 3%;
    height: 1px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-block-color: rgba(0, 0, 0, 0.05);
}
.divider4{
    width: 92%;
    margin-left: 4%;
    height: 1px;
    margin-top: 16px;
    margin-bottom: 0;
    border-block-color: rgba(0, 0, 0, 0.05);
}
.text_right{
text-align: right;
}
.text_left{
text-align: left;
}
.red{
    color: red;
}
.dialogs{
    width: 80%;
    -webkit-border-radius: 8px;

}
.dialogs .el-dialog__header{
    background-image: url("../static/header.jpg");
    height: 70px;
    width: 87.8%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;

}
.dialog_yy{
    width: 80%;
    -webkit-border-radius: 8px;

}
.dialog_yy .el-dialog__header{
    background-image: url("../static/yy_header.jpg");
    height: 70px;
    width: 87.8%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;

}

.dialog-form{
    width: 90%;
    margin-left: 5%;
}

.dialog-form >>>.el-input__inner {
    border: none;
}
.imgPhone{
    width: 100%;
}
.el-header{
    width: 100%;
    height: 50px;
}
.dialog-img{
    width: 100%;
    height: 100%;
}
.hotImage{
    width: 100%;
    height: 100%;
    -webkit-border-radius: 5px;
}
.majorDesc{
    font-size: 10px;
    height: 20px;
    color: #161616 ;
    margin-top: 7%;
    margin-bottom: 13%;
    padding-left: 5px;
}
.majorType{
    height: 20px;
    font-size: 10px;
    color: #161616 ;
    margin-left: -10px;
    padding-left: 5px;
}
.majorName{
    height: 20px;
    font-size: 18px;
    color: #161616;
    padding-left: 5px;
}
.rollingPic{
    width: 100%;
}
.bottom-img{
    width: 380px;
    text-align: center;
}
.banner-img{
    width: 100%;
    height: 100px;
}
.drawer-div{
    width: 90%; height: 100%;
}
.pagination {
    text-align: right;
    padding-top: 20px;
    margin-left: 50%;
}
.title{
    font-size: 16px;
    color: #161616;
    font-family: PingFang SC-Semibold;
    font-weight: bolder;
}
.pageTitle{
    font-size: 18px;
    color: #000000;
    text-align: center;
}
.mini-logo{
    width: 100%;
    margin-left: 20%;
}
.left10{
    margin-left: 10px;
}
.center{
    text-align: center;
    width: 100%;
}
.right{
    text-align: right;
}
.bottom-column{
     font-size: 13px;
     font-weight: 400;
     color: #FFFFFF;
     margin-bottom: 5px;
    margin-top: 4px;
 }
.bottom-column12{
    font-size: 12px;
    font-weight: 400;
    color: #FFFFFF;
    margin-bottom: -5%;

}
.back{
    margin-top: 40%;
}

.price{
    color: #FF243A ;
    font-size: 16px;
    font-family: Mittelschrift-Regular;
}
.elCarousel{
    height: 100%;
}
.el-carousel .el-carousel__container {
    position: relative;
    height: 200px;
}
.consoleButton{
    width: 60%;
    background-color: #456ced;
    color: white;
    height: 36px;
    margin-top: 10px;
    font-size: 15px;
}

.overflow{
    overflow-y: auto;
    overflow-x: hidden;
}

.divFor{
    margin-left: 16px;
    margin-right: 16px;
    text-align :center;
}
.div30{
    margin-bottom: 30px;
}
