@charset "UTF-8";

.courseImage{
    width: 100px;
    height: 60px;
    -webkit-border-radius: 5px;
}
.courseName{
    font-size: small;
    height: 20px;
}
.courseDesc{
    font-size: xx-small;
    color: rgba(140, 147, 157, 0.28);
    height: 20px;
}
.courseNum{
    color: rgba(140, 147, 157, 0.76);
    height: 20px;
    font-size: x-small;
    width: 51px;
}
.more{
    color: rgba(140, 147, 157, 0.76);
    font-size: x-small;
    margin-top: 7%;
}
.signUpButton{
    height: 20px;
    text-align: right;
    margin-left: 50%;
    color:dodgerblue;
    border-color: dodgerblue;
    background-color:white;
}
.divider{
    width: 90%;
    margin-left: 5%;
    height: 1px;
    margin-top: 2px;
    margin-bottom: 2px;
    border-block-color: rgba(0, 0, 0, 0.05);
}
.divider2{
    height: 1px;
    border-width: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-block-color: rgba(0, 0, 0, 0.02);
}
.text_right{
text-align: right;
}
.text_left{
text-align: left;
}
.red{
    color: red;
}
.dialogs{
    width: 80%;
    -webkit-border-radius: 8px;

}
.dialogs .el-dialog__header{
    background-image: url("../static/header.jpg");
    height: 50px;
    width: 87%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;

}

.dialog-form{
    width: 90%;
    margin-left: 5%;
}

.dialog-form >>>.el-input__inner {
    border: none;
}
.imgPhone{
    width: 100%;
}